*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
/thesis/example/

# Xcode user-specific files
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
